<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  </head>
  
  <body>

<h1>Make your form here</h1>

<form method="post" action="/pirates">
  <label for="name"> Pirate Name:</label><br>
    <input type="text" id="name" name="pirate[name]"><br>
  
</form>
</body>
</html>